push constant 0
pop temp 0         // initializes sum = 10
push constant 1
pop temp 1
label LOOP_START
push temp 0
push constant 10
eq
if-goto END
push temp 0
push constant 1
add
pop temp 0
push temp 1
push temp 1
add
pop temp 1
goto LOOP_START  // If counter > 0, goto LOOP_START
label END




















































































































































































































