
function div 3
	push argument 0
	pop local 0
	push argument 1
	pop local 1 
	push constant 0
	pop local 2

	push local 0
	push local 1
	gt
	if-goto loop
	goto end

label loop
	push local 0
	push local 1
	sub
	pop local 0

	push local 2
	push constant 1
	add
	pop local 2
	
	push local 0
	push constant 1
	lt
	if-goto end
	goto loop
label end
	push local 2
	return
