bin/*
tests/tst/abs/abs0_end.mif
tests/tst/abs/abs1_end.mif
tests/tst/add/add0_end.mif
tests/tst/div/div0_end.mif
tests/tst/div/div1_end.mif
tests/tst/factorial/factorial0_end.mif
tests/tst/factorial/factorial1_end.mif
tests/tst/max/max0_end.mif
tests/tst/max/max1_end.mif
tests/tst/mod/mod0_end.mif
tests/tst/mod/mod1_end.mif
tests/tst/mov/mov0_end.mif
tests/tst/mult/mult0_end.mif
tests/tst/pow/pow0_end.mif
tests/tst/pow/pow1_end.mif
tests/tst/sub/sub0_end.mif

