// ---------------------------------  
// Rafael Corsi @ insper . edu . br
//              2018a
// ---------------------------------
//
// Projeto      : Projeto I-VM
// File         : 2a-Calculadora
//
// Descritivo   : 
//  Escreva um código em VM que realize a seguinte
//  operação :
//    3^3
//
//  O resultado deve ser salvo em temp 1
//
//  Voce deve implementar a funcao de pow!
//  e usar aqui no main para implementar
//  o que foi pedido.
//
//  ****************************************************
//  ** A ideia é deixar o Z01 resolver, você não deve **
//  ** simplificar a equação                          **
//  ****************************************************
// ---------------------------------

function Main.main 0
                    // x^y
    push constant 3 // x
    push constant 3 // y
    call pow 2
    pop temp 2

label while
    goto while
